@model Dominio.Publicaciones

@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Crear Publicación</h3>

            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Publicaciones</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Crear Publicación</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <hr />

    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12 ">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <form method="post" action="@Url.Action("Nuevo", "Publicaciones")">

                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>nombre</label>
                                            @Html.TextBoxFor(X => X.NombrePublicacion, new { @class = "form-control", @placeholder = "Nombre de la publicación " })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>descripcion</label>
                                            @Html.TextBoxFor(X => X.DescripcionPublicacion, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Imagen</label>
                                            @Html.TextBoxFor(X => X.ImgPublicacion, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Visible</label>
                                            @Html.TextBoxFor(X => X.Visible, new { @class = "form-control", @placeholder = "true, false " })
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Crear</button>
                                        <a href="@Url.Action("Index","Publicaciones")" class="btn btn-secondary me-1 mb-1">Regresar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
