@model Dominio.Usuarios
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Detalle Usuario</h3>

            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Gestión de Usuarios</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
                        <li class="breadcrumb-item active" aria-current="page">Detalle Usuario</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <hr />
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div class="form-group">
                        <label>Código: </label>
                        @Model.IdUsuario
                    </div>
                    <div class="form-group">
                        <label>Nombre: </label>
                        @(String.Format("{0} {1} {2} {3}", Model.PrimerNombre, Model.SegundoNombre, Model.PrimerApellido, Model.SegundoApellido))
                    </div>
                    <div class="form-group">
                        <label>Cédula: </label>
                        @Model.Cedula
                    </div>
                    <div class="form-group">
                        <label>Número Teléfonico: </label>
                        @Model.NumCelular
                    </div>
                    <div class="form-group">
                        <label>Correo Electrónico: </label>
                        @Model.Email

                    </div>
                    <div class="form-group">
                        <label>Estado: </label>
                        @Model.Estado

                    </div>
                    <div class="form-group">
                        <label>Rol: </label>
                        @Model.IdRol

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
